<%= form_for @team, remote: true, html: { multipart: true, style: "display:inline;" } do |f| %>
<%= error_messages_for(f.object) %>
<div class="modal-body">
	<ul class="errors"></ul>
	<div class="row">
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<%= f.text_field(:first_name, class: 'text-cp form-control', placeholder: 'Firstname') %>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<%= f.text_field(:last_name, class: 'text-cp form-control', placeholder: 'Lastname') %>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<%= f.text_field(:title, class: 'text-cp form-control', placeholder: 'Title') %>
		</div>
        <div class="col-sm-6" style="padding-bottom: 10px;">
            <%= f.select(:position, 1..@team_count, {class: 'form-control'}) %> (position)
        </div>
		<div class="col-sm-12" style="padding-bottom: 10px;">
		    <%= f.text_area(:description, class: 'text-cp form-control', rows:'6', placeholder: 'Tell about yourself...') %>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		    	<%= f.email_field(:email, class: 'text-dn form-control', placeholder: 'E-mail') %>
		    </div>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
				<%= f.text_field(:cell_phone, class: 'form-control', placeholder: 'Cell') %>
			</div>
		</div>	
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-google"></i></span>
				<%= f.text_field(:google, class: 'text-dn form-control', placeholder: 'google-link') %>
			</div>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-facebook"></i></span>
				<%= f.text_field(:facebook, class: 'text-dn form-control', placeholder: 'facebook-link') %>
			</div>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
				<%= f.text_field(:twitter, class: 'text-dn form-control', placeholder: 'twitter-link') %>
			</div>
		</div>
		<div class="col-sm-6" style="padding-bottom: 10px;">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
				<%= f.text_field(:linkedin, class: 'text-dn form-control', placeholder: 'linkedin-link') %>
			</div>
		</div>
		<% if (@team.new_record? || !@team.avatar?) %>
			<div class="col-sm-12" style="padding-bottom: 10px;">
				<label>File input</label>
				<%= f.file_field(:avatar) %>
			</div>
		<% else %>
			<div class="col-sm-6" style="padding-bottom: 10px;">
				<label>File input</label>
				<%= f.file_field(:avatar) %>
			</div>
	        <div class="col-sm-6 checkbox" style="padding-bottom: 10px;">
	        	<label>
	            <%= f.check_box(:remove_avatar) %> 
	            Remove Avatar
	            </label>
	        </div>
		<% end %>
	</div>
</div>
<div class="modal-footer">
    <%= link_to "Close", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
    <%= f.submit "Submit" ,class: "btn btn-primary" %>
</div>
<% end %>


