<% @listings.each do |listing| %>
<tr>
     <td>
      <%= listing.name %>
      <% if listing.visible %>
          <%= link_to(toggle_visible_listing_path(listing,:product_id => @product.id), 
              :remote => true) do %>
              <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
          <% end %>  
      <% else %>
          <%= link_to(toggle_visible_listing_path(listing,:product_id => @product.id), 
              :remote => true) do %>
              <i class="fa fa-eye-slash fa-fw" aria-hidden="true"></i>
          <% end %>   
      <% end %> 
      <% if listing.image? %>
        <i class="fa fa-camera fa-fw" aria-hidden="true"></i>
      <% end %>  
    </td>  
    <td>
      <%= number_to_currency(listing.orig_price, 
        :unit => "INR", :format => "%u %n") %>      
    </td>
    <td>
      <%= number_to_currency(listing.curr_price, 
        :unit => "INR", :format => "%u %n") %>    
    </td>
    <td>
      <%= link_to(listing_path(listing,:product_id => @product.id), 
          :remote => true, 
          :class => "btn btn-info btn-circle") do %>
          <i class="fa fa-flag fa-fw" aria-hidden="true"></i> 
      <% end %>  
      <%= link_to(edit_listing_path(listing, :product_id => @product.id), 
          :remote => true, 
          :class => "btn btn-success btn-circle") do %>
          <i class="fa fa-edit fa-fw" aria-hidden="true"></i> 
      <% end %>  
      <%= link_to(delete_listing_path(listing,:product_id => @product.id), 
          :remote => true, 
          :class => "btn btn-danger btn-circle") do %>
          <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> 
      <% end %>       
    </td>
</tr>
<% end %>

