<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-login">
    <%= devise_error_messages! %>
    <h2 class="form-login-heading">Change your password</h2>
    <div class="login-wrap">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field(:password, class: "form-control", placeholder: "Password", autocomplete: "off") %>
        <br />
        <%= f.password_field(:password_confirmation, class: "form-control", placeholder: "Repeat Password", autocomplete: "off") %>
        <br />
        <%= f.submit("Change my password", class: "btn btn-theme btn-block") %> <br />

        <div class="registration">
            <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
<% end %>