<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-login">
    <%= devise_error_messages! %>
    <h2 class="form-login-heading">Forgot your password?</h2>
    <div class="login-wrap">
        <%= f.email_field(:email, class: "form-control", placeholder: "e-mail" , autofocus: true) %> <br />

        <%= f.submit("Send me reset password instructions", class: "btn btn-theme btn-block") %>
        <br />
        <div class="registration">
            <%= render "devise/shared/links" %> <br />
            <%= link_to "Back to the Site", root_path %>
        </div>
    </div>
  </div>
<% end %>
