<li><%= link_to 'Home', root_path %></li> <!-- home link -->

<li><%= link_to 'About', public_about_path %></li> <!-- about link -->


<% if @services.count > 0 %>
<li class="dropdown">
  <a href="#service" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% @services.each do |service| %>
    <li><a href="#"><%= service.name %></a></li>
    <% end %>
  </ul>
</li>
<% end %> <!-- services link -->

<% if @products.count > 0 %>
<li class="dropdown">
  <a href="#product" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% @products.each do |product| %>
    <li><a href="#"><%= product.name %></a></li>
    <% end %>
  </ul>
</li>
<% end %> <!-- products link -->

<li><%= link_to 'Team', public_team_path %></li> <!-- team link -->

<li><a href="#gallery">Gallery</a></li> <!-- gallery link -->