<div class="container-fluid">
	<%= render 'intro' %> 
</div>
<%= render 'layouts/messages' %> <!-- messages to be modified -->

<div class="page" id="welcome">
	<%= render 'welcome' %>
</div> <!-- welcome -->

<div class="page" id="offering">
	<%= render 'offering' %>
</div> <!-- offering -->

<% if @services.count > 0 %>
<div class="page" id="service">
	<%= render 'service' %>
</div> <!-- service -->
<% end %>

<% if @products.count > 0 %>
<div class="page" id="product">
	<%= render 'product' %>
</div> <!-- product -->
<% end %>


