<header id="intro">
	<%= render 'intro' %>
</header>
<main id="wrapper">
	<div class="scene" id="about">
		<article class="content fullheight">
			<%= render 'about' %>
		</article> <!-- about body -->
	</div> <!-- about -->

	<div class="scene" id="service">
		<article class="content">
			<%= render 'service' %>
		</article> <!-- service body -->
	</div> <!-- service -->

	<div class="scene" id="product">
		<article class="content">
			<%= render 'product' %>
		</article> <!-- product body -->
	</div> <!-- product -->

	<div class="scene" id="team">
		<article class="content">
			<%= render 'team' %>
		</article> <!-- team body -->
	</div> <!-- team -->

</main> <!-- main -->



