<div class="page" id="listing">
    <div class="container">
        <div class="section-header">
            <h2 class="title-one"><span class="highlight"><strong><%= @listing.first.product.name %></strong></span></h2>
        </div>
        <div class="pull-left">
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-laptop"></i> <%= link_to "Home", root_path %>
				</li>
					<li><i class="fa fa-th-list"></i> <%= @listing.first.product.name %>
				</li>                
			</ol>
        </div>
    </div>
    <div class="container">
		<div id="listing-list" class="row">
			<% @listing.each do |list| %>
	        <div class="box col-xs-12 col-sm-6 col-md-3">
	            <div class="list-image">
	                <%= images(list.image_loc, {class: "img-responsive"}, "listing") %>
	                <h5><span><%= list.name %></span></h5>
	                <p><span><i><%= number_to_currency(list.curr_price, :unit => "Rs. ") %></i></span></p>
	            </div>
	            <div class="bottom">
                    <% if user_signed_in? %>
                        <%= form_for @order_item, remote: true do |f| %>
                            <%= f.hidden_field :listing_id, value: list.id %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.hidden_field :quantity, value: 1 %>
                            <%= f.submit "Add to Cart", class: "btn btn-success btn-xs" %>
                        
                        <%= link_to "View Details", public_listing_detail_path(:id => list.id) , class: "btn btn-primary btn-xs pull-right" %>
                        <% end %>
                    <% else %>
                        <%= link_to "View Details", public_listing_detail_path(:id => list.id) , class: "btn btn-primary btn-xs btn-block" %>
                    <% end %>
	            </div>
	        </div>
			<% end %>
		</div> 
	</div>
</div>

