<div class="page" id="listing">
    <div class="container">
        <div class="section-header">
            <h2 class="title-one"><span class="highlight"><strong><%= @listing.first.product.name %></strong></span></h2>
        </div>
        <div class="pull-left">
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-laptop"></i> <%= link_to "Home", root_path %>
				</li>
					<li><i class="fa fa-th-list"></i> <%= @listing.first.product.name %>
				</li>                
			</ol>
        </div>
    </div>

    <div class="container">
		<div id="listing-list" class="row">
			<% @listing.each do |list| %>
	        <div class="box col-xs-12 col-sm-6 col-md-3">
	            <div class="list-image">
	                <%= image_for_home(list) %>
	                <h5><span><%= list.name %></span></h5>
	                <p><span><i>INR <%= list.curr_price.round %></i></span></p>
	            </div>
	            <div class="bottom">
	                <a href="#" class="btn btn-success btn-xs">Book Now</a>
	                <%= link_to "View Details", public_listing_detail_path(:id => list.id) , class: "btn btn-primary btn-xs pull-right" %>
	            </div>
	        </div>
			<% end %>
		</div> 
	</div>
</div>

