<div class="main">
    <div class="page" id="team">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Our Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row">
	            <% @teams.each do |member| %>
	            <div class="col-sm-6 col-md-4">
			        <div class="team-leader-block">
			            <div class="team-leader-box">
			                <div class="team-leader wow fadeInDown delay-03s"> 
			                    <!-- <div class="team-leader-shadow"><a href="#"></a></div> -->
			                    <%= avatar_for_home(member) %>
			                    <ul>
			                        <li><a href="#" class="fa-twitter"></a></li>
			                        <li><a href="#" class="fa-facebook"></a></li>
			                        <li><a href="#" class="fa-pinterest"></a></li>
			                        <li><a href="#" class="fa-google"></a></li>
			                    </ul>
			                </div>
			                <h3 class="wow fadeInDown delay-03s"><%= member.first_name %> <%= member.last_name %></h3>
			                <span class="wow fadeInDown delay-03s"><%= member.title %></span>
			                <p class="wow fadeInDown delay-03s"><%= member.description %></p>
			            </div>
			        </div>
		        </div>
		        <% end %>
	        </div>
        </div>
    </div>
</div>