<div class="page" id="team">
    <div class="container">

        <div class="section-header">
            <h2 class="title-one">Our <span class="highlight"><strong>Team</strong></span></h2>
            <h5><em>We are awesome!!</em></h5>
        </div>
        <div class="row">
            <% @teams.each.with_index do |member, index| %>
	        <div class="member col-lg-4">
	          <div class="row">
	            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
	            	<%= avatar_for_home(member) %>
	            </div><!-- photo -->
	            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
	              <h3><%= member.name %></h3>
	              <h4><%= member.title %></h4>
					<div class="socials">
						<a href="<%= member.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="<%= member.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="<%= member.google %>" target="_blank"><i class="fa fa-google"></i></a>
						<a href="<%= member.linkedin %>" target="_blank"><i class="fa fa-linkedin"></i></a>
					</div>	              
	              <p><%= truncate(member.description, :length => 100) %></p>

	              <a href="" class="btn btn-success btn-block" data-toggle="modal" data-target="#<%= member.id %>">Details ...</a>
	            </div><!-- info -->
	          </div> <!-- inner row -->
	        </div> <!-- member -->
            <div class="modal fade" id="<%= member.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="text-primary"><%= member.name %></h2>
                        </div>
                        <div class="modal-body">
                    		<p><%= member.description %></p>
                        </div> 
                        <div class="modal-footer">
                          <%= link_to "Close", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
                        </div>
                    </div>
                </div>
            </div>
	        <% if (index + 1) % 3 === 0 %>
	        <div class="clearfix"></div>
	        <% end %> <!-- add clearfix after every 3 element -->

	        <% end %>
        </div>
    </div>
</div>




